name: Check
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
permissions: {}
env:
  CARGO_TERM_COLOR: always
defaults:
  run:
    shell: bash
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true
jobs:
  compile-test-lint:
    name: Compile, Test & Lint
    strategy:
      matrix:
        runs-on: [macos-latest, ubuntu-latest, windows-latest]
        toolchain: [1.85.0, stable]
    runs-on: ${{ matrix.runs-on }}
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - name: Install Rust
        env:
          TOOLCHAIN: ${{ matrix.toolchain }}
        run: |
          rustup toolchain install "$TOOLCHAIN" --component clippy
          rustup default "$TOOLCHAIN"
      - name: Cache
        uses: Swatinem/rust-cache@6720f05bc48b77f96918929a9019fb2203ff71f8 # v2.0.0
      - name: Compile
        run: cargo build --all-targets --locked --verbose
      - name: Test
        run: cargo test --all-targets --locked --verbose
      - name: Lint
        run: cargo clippy --all-targets --locked --verbose
  format:
    name: Format
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - name: Format
        run: cargo fmt --check --all --verbose
